<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zll.water.mapper.AccountMapper">
    <!--
    id属性值必须和接口方法一致
    resultType 表示返回类型
    -->
    <select id="login" parameterType="String" resultType="Account">
        select user_name, user_pwd from account where user_name = #{userName}
    </select>
</mapper>