<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zll.water.mapper.SalaryMapper">
    <select id="calFinalWorkerSalary" resultType="Salary">
        select w.worker_name workerName,w.worker_salary workerSalary, w.worker_money workerMoney,
               IFNULL(sum(h.send_water_count),0) sendWaterCount,
               ifnull(sum(h.send_water_count * w.worker_money)+w.worker_salary,w.worker_salary) finalWorkerSalary
        from worker w left join history h on w.wid = h.worker_id
        group by w.wid
    </select>

    <select id="searchSalary" resultType="Salary">
        select w.worker_name workerName,w.worker_salary workerSalary, w.worker_money workerMoney,
               IFNULL(sum(h.send_water_count),0) sendWaterCount,
               ifnull(sum(h.send_water_count * w.worker_money)+w.worker_salary,w.worker_salary) finalWorkerSalary
        from worker w left join history h on w.wid = h.worker_id
        and h.send_water_time between #{startTime} and #{endTime}
        group by w.wid
    </select>

</mapper>