<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zll.water.mapper.SendWaterInfoMapper">
    <select id="countSendWaterInfo" resultType="SendWaterInfo">
        select w.worker_name  workerName,
               ifnull(group_concat(distinct c.cust_name),'-') customerList,
               ifnull(sum(h.send_water_count),0) sendWaterCount
        from worker w left join history h on w.wid = h.worker_id left join customer c on c.cid = h.cust_id
        group by w.worker_name
        order by sendWaterCount  desc
    </select>

    <select id="searchSendWaterInfo" resultType="SendWaterInfo" parameterType="String">
        select w.worker_name  workerName,
               ifnull(group_concat(distinct c.cust_name),'-') customerList,
               ifnull(sum(h.send_water_count),0) sendWaterCount
        from worker w left join history h on w.wid = h.worker_id left join customer c on c.cid = h.cust_id
        where w.worker_name like concat('%', #{workerName}, '%')
        group by w.worker_name
        order by sendWaterCount  desc
    </select>

</mapper>