<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户列表</title>

    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script>
        $(function() {
            // "全选/全不选"绑定单击事件
            $("#selectAll").click(function () {
                // 选中历史列表所有的复选框，将他们设置为选中状态
                // 每个复选框是否选中由"全选/全不选选"决定
                $("input[name=chkCustomer]").prop("checked", $(this).prop("checked"))
            })

            // "批量删除"绑定单击事件
            $("#batchDelete").click(function() {
                // 选中“勾选”的复选框
                let checkedList = $("input[name=chkCustomer]:checked");
                if (checkedList == 0) {
                    alert("至少选择一项");
                    return;
                }
                if (!confirm("确定要删除吗？")) {
                    return;
                }

                // 拼接id
                let ids = "";
                // 遍历每个选中的“复选框”，拼接送水历史id
                $(checkedList).each(function(){
                    // 获取每个“勾选”的复选框的id值。每个id值之间使用逗号分隔
                    let value = ","+$(this).val();
                    // 拼接id值
                    ids += value;
                })

                // 异步请求
                $.ajax({
                    url:"/cust/batchDeleteCustomer",
                    data:{"ids":ids},
                    method:"POST",
                    success:function(data, status) {
                        if (data == "success") {
                            location.href='/cust/listCustomerForPage'
                        } else {
                            alert("删除失败");
                        }
                    }
                })
            })

            // 删除
            $("span[id=deleteCustomer]").click(function(){
                let cid = $(this).attr("class");
                // 异步请求
                $.ajax({
                    url:"/cust/deleteCustomer",
                    data:{"cid":cid},
                    method:"POST",
                    success:function(data, status) {
                        if (data == "success") {
                            location.href='/cust/listCustomerForPage'
                        } else {
                            alert("删除失败，该客户可能存在历史订单。\n请先查看送水记录，删除客户的送水记录后再尝试删除。");
                        }
                    }
                })
            })

        })
    </script>

</head>
<body>

<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar" th:replace="waterMainMenu::menu">

    </div>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default" th:replace="waterMainMenu::nav">

        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-success" th:href="@{/cust/preSaveCustomer}">添加客户</a>
                    <a class="btn btn-danger" id="batchDelete">批量删除</a>
                </div>

                <div class="col-md-8">
                    <form class="form-inline" th:action="@{/cust/searchCustomerForPage}" method="get">
                        <input type="text" th:value="${#strings.isEmpty(data) ? '': data}"  name="custName" class="form-control"  placeholder="请输入客户名称">
                        <input type="submit" class="btn btn-warning" name="search" value="搜索"/>
                    </form>
                </div>

                <div class="col-md-12">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <td>
                                <input type="checkbox" id="selectAll"  value="selectAll"/>全选/全不选
                            </td>
                            <td>客户编号</td>
                            <td>客户名称</td>
                            <td>客户地址</td>
                            <td>联系方式</td>
                            <td>水票数量</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- 渲染后客户列表-->
                        <tr th:each="cust : ${custList}">
                            <td>
                                <input type="checkbox" name="chkCustomer" th:value="${cust.cid}"/>
                            </td>
                            <td th:text="${cust.cid}" id="cid"></td>
                            <td th:text="${cust.custName}"></td>
                            <td th:text="${cust.custAddress}"></td>
                            <td th:text="${cust.custMobile}"></td>
                            <td th:text="${cust.custTicket}"></td>
                            <td>
                                <a class="btn btn-primary btn-sm" th:href="@{'/cust/preUpdateCustomer/'+${cust.cid}}">
                                    <span class="glyphicon glyphicon-edit">修改</span>
                                </a>
                                <a class="btn btn-danger btn-sm" >
                                    <span class="glyphicon glyphicon-remove" id="deleteCustomer" th:class="${cust.cid}">删除</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div th:switch="${pageData}" class="modal-footer no-margin-top" >
                        <div class="col-md-6">
                            当前第 [[${pageInfo.pageNum}]]页，共 [[${pageInfo.pages}]] 页，共 [[${pageInfo.total}]] 条记录
                        </div>

                        <ul th:case="'listCustomer'" class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/listCustomerForPage?pageNum=1'">首页</a>
                            </li>

                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/listCustomerForPage?pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                    上一页
                                </a>
                            </li>
                            <!--遍历条数-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/cust/listCustomerForPage?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                            </li>

                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/cust/listCustomerForPage?pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    下一页
                                </a>
                            </li>

                            <li th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/cust/listCustomerForPage?pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>

                        <ul th:case="'searchData'" class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/searchCustomerForPage?custName='+${data}+'&pageNum=1'">首页</a>
                            </li>

                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/searchCustomerForPage?custName='+${data}+'&pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                    上一页
                                </a>
                            </li>
                            <!--遍历条数-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/cust/searchCustomerForPage?custName='+${data}+'&pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                            </li>

                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/cust/searchCustomerForPage?custName='+${data}+'&pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    下一页
                                </a>
                            </li>

                            <li th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/cust/searchCustomerForPage?custName='+${data}+'&pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>

</body>
</html>