<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>更新送水记录</title>

        <!--Bootstrap固定框架-->
        <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
        <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
        <!--图标库-->
        <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
        <!--核心样式-->
        <link rel="stylesheet" th:href="@{/css/style.css}">

    </head>
    <body>

        <div id="viewport">

            <!-- Sidebar -->
            <div id="sidebar" th:replace="waterMainMenu::menu">


            </div>

            <!-- Content -->
            <div id="content">
                <nav class="navbar navbar-default" th:replace="waterMainMenu::nav">

                </nav>
                <div class="container-fluid">
                    <div class="row" style="padding-left: 10px">
                        <!--添加表单-->
                        <form class="form-horizontal" th:action="@{/history/updateHistory}" method="post">
                            <!--
                             id作为隐藏参数传入到表单
                            -->
                            <input type="hidden" name="hid" th:value="${history.hid}"/>
                            <div class="form-group">
                                <div class="col-sm-1">
                                    送水工
                                </div>
                                <div class="col-sm-5">
                                    <!--使用下拉框显示所有送水工信息-->
                                    <select class="form-control" name="workerId">
                                        <option th:each="worker : ${workerList}"
                                                th:text="${worker.workerName}"
                                                th:value="${worker.wid}"
                                                th:selected="${worker.workerName eq history.worker.workerName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-1">
                                    送水日期
                                </div>
                                <div class="col-sm-5">
                                    <input type="date"
                                           name="sendWaterTime"
                                           th:value="${#dates.format(history.sendWaterTime,'yyyy-MM-dd')}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-1">
                                    客户
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control" name="custId">
                                        <option th:each="customer : ${customerList}"
                                                th:text="${customer.custName}"
                                                th:value="${customer.cid}"
                                                th:selected="${customer.custName eq history.customer.custName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-1">
                                    送水数量
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" name="sendWaterCount" th:value="${history.sendWaterCount}"
                                           class="form-control"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" class="btn btn-primary" value="提交"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </body>
</html>