<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>送水工列表</title>

        <!--Bootstrap固定框架-->
        <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
        <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
        <!--图标库-->
        <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
        <!--核心样式-->
        <link rel="stylesheet" th:href="@{/css/style.css}">

        <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
        <script>
            $(function () {
                // 加工资
                $("span[id=add]").click(function () {
                    let wid = $(this).attr("class");
                    let workerSalary = $(this).next().text();
                    workerSalary = parseInt(workerSalary) + 100;
                    $(this).next().text(workerSalary);
                    // 使用Ajax向后端服务器发送异步请求
                    $.ajax({
                        // 提交给服务器的路径
                        url: "/worker/adjustSalary",
                        // 提交给服务器的数据
                        data: {"wid": wid, "workerSalary": workerSalary},
                        // 数据的提交方式
                        method: "POST",
                        // 请求成功后的回调函数
                        success: function (data, status) {
                            if ("success" == data) {
                                alert("加工资成功");
                            } else {
                                alert("加工资失败");
                            }
                        }
                    })
                })
                // 减工资
                $("span[id=sub]").click(function () {
                    let wid = $(this).attr("class");
                    let workerSalary = $(this).prev().text();
                    workerSalary = parseInt(workerSalary) - 100;
                    $(this).prev().text(workerSalary);
                    // 使用Ajax向后端服务器发送异步请求
                    $.ajax({
                        // 提交给服务器的路径
                        url: "/worker/adjustSalary",
                        // 提交给服务器的数据
                        data: {"wid": wid, "workerSalary": workerSalary},
                        // 数据的提交方式
                        method: "POST",
                        // 请求成功后的回调函数
                        success: function (data, status) {
                            if ("success" == data) {
                                alert("减工资成功");
                            } else {
                                alert("减工资失败");
                            }
                        }
                    })
                })

                // "全选/全不选"绑定单击事件
                $("#selectAll").click(function () {
                    // 选中历史列表所有的复选框，将他们设置为选中状态
                    // 每个复选框是否选中由"全选/全不选选"决定
                    $("input[name=chkWorker]").prop("checked", $(this).prop("checked"))
                })

                // "批量删除"绑定单击事件
                $("#batchDelete").click(function () {
                    // 选中“勾选”的复选框
                    let checkedList = $("input[name=chkWorker]:checked");
                    if (checkedList == 0) {
                        alert("至少选择一项");
                        return;
                    }
                    if (!confirm("确定要删除吗？")) {
                        return;
                    }

                    // 拼接id
                    let ids = "";
                    // 遍历每个选中的“复选框”，拼接送水历史id
                    $(checkedList).each(function () {
                        // 获取每个“勾选”的复选框的id值。每个id值之间使用逗号分隔
                        let value = "," + $(this).val();
                        // 拼接id值
                        ids += value;
                    })

                    // 异步请求
                    $.ajax({
                        url: "/worker/batchDeleteWorker",
                        data: {"ids": ids},
                        method: "POST",
                        success: function (data, status) {
                            if (data == "success") {
                                location.href = '/worker/listWorkerForPage'
                            } else {
                                alert("删除失败");
                            }
                        }
                    })
                })

                // 删除
                $("span[id=deleteWorker]").click(function(){
                    let wid = $(this).attr("class");
                    // alert(wid);
                    // 异步请求
                    $.ajax({
                        url:"/worker/deleteWorker",
                        data:{"wid": wid},
                        method:"POST",
                        success:function(data, status) {
                            if (data == "success") {
                                location.href='/worker/listWorkerForPage'
                            } else {
                                alert("删除失败，该送水工可能存在历史订单。\n请先查看送水记录，删除该送水工的送水记录后再尝试删除。");
                            }
                        }
                    })
                })
            })
        </script>
    </head>
    <body>

        <div id="viewport">

            <!-- Sidebar -->
            <div id="sidebar" th:replace="waterMainMenu::menu">

            </div>

            <!-- Content -->
            <div id="content">
                <nav class="navbar navbar-default" th:replace="waterMainMenu::nav">

                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-success" th:href="@{/worker/preSaveWorker}">添加送水工</a>
                            <a class="btn btn-danger" id="batchDelete">批量删除</a>
                            <a class="btn btn-primary" th:href="@{/worker/countWorkerNoSendWater}">显示没有送水的送水工</a>
                        </div>

                        <div class="col-md-8">
                            <form class="form-inline" th:action="@{/worker/searchWorkerForPage}" method="get">
                                <input type="text" th:value="${#strings.isEmpty(data) ? '': data}" name="workerName"
                                       class="form-control" placeholder="请输入送水工名称">
                                <input type="submit" class="btn btn-warning" name="search" value="搜索"/>
                            </form>
                        </div>


                        <div class="col-md-12">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="selectAll"  value="selectAll"/>全选/全不选
                                    </td>
                                    <td>送水工编号</td>
                                    <td>送水工名称</td>
                                    <td>送水工底薪</td>
                                    <td>送水工提成</td>
                                    <td>送水工照片</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 渲染后客户列表-->
                                <tr th:each="worker : ${workerList}">
                                    <td>
                                        <input type="checkbox" name="chkWorker" th:value="${worker.wid}"/>
                                    </td>
                                    <td th:text="${worker.wid}" id="wid"></td>
                                    <td th:text="${worker.workerName}"></td>
                                    <td>
                                        <span id="add"
                                              style="font-weight: bold;font-size: 10px;color:red; cursor:pointer"
                                              th:class="${worker.wid}">+</span>
                                        <span id="salary" th:text="${worker.workerSalary}"></span>
                                        <span id="sub"
                                              style="font-weight: bold;font-size: 10px;color:red; cursor:pointer"
                                              th:class="${worker.wid}">-</span>
                                    </td>
                                    <td th:text="${worker.workerMoney}"></td>
                                    <td>
                                        <img src="../../images/user.png"
                                             style="width:80px;height:80px"
                                             th:if="${#strings.isEmpty(worker.workerImage)}">
                                        <img th:src="@{'http://localhost:8082/'+${worker.workerImage}}"
                                             style="width:80px;height:80px;border:1px solid blue"
                                             th:if="${not #strings.isEmpty(worker.workerImage)}"/>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           th:href="@{'/worker/preUpdateWorker/'+${worker.wid}}">
                                            <span class="glyphicon glyphicon-edit">修改</span>
                                        </a>
                                        <a class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove" id="deleteWorker" th:class="${worker.wid}">删除</span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <div th:switch="${pageData}" class="modal-footer no-margin-top">
                                <div class="col-md-6">
                                    当前第 [[${pageInfo.pageNum}]]页，共 [[${pageInfo.pages}]] 页，共 [[${pageInfo.total}]] 条记录
                                </div>

                                <ul th:case="'listWorker'" class="pagination pull-right no-margin">
                                    <li th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/worker/listWorkerForPage?pageNum=1'">首页</a>
                                    </li>

                                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/worker/listWorkerForPage?pageNum='+${pageInfo.prePage}">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                            上一页
                                        </a>
                                    </li>
                                    <!--遍历条数-->
                                    <li th:each="nav:${pageInfo.navigatepageNums}">
                                        <a th:href="'/worker/listWorkerForPage?pageNum='+${nav}" th:text="${nav}"
                                           th:if="${nav != pageInfo.pageNum}"></a>
                                        <span style="font-weight: bold;background: #6faed9;"
                                              th:if="${nav == pageInfo.pageNum}" th:text="${nav}"></span>
                                    </li>

                                    <li class="next" th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/worker/listWorkerForPage?pageNum='+${pageInfo.nextPage}">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                            下一页
                                        </a>
                                    </li>

                                    <li th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/worker/listWorkerForPage?pageNum='+${pageInfo.pages}">尾页</a>
                                    </li>
                                </ul>

                                <ul th:case="'searchData'" class="pagination pull-right no-margin">
                                    <li th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/worker/searchWorkerForPage?workerName='+${data}+'&pageNum=1'">首页</a>
                                    </li>

                                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/worker/searchWorkerForPage?workerName='+${data}+'&pageNum='+${pageInfo.prePage}">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                            上一页
                                        </a>
                                    </li>
                                    <!--遍历条数-->
                                    <li th:each="nav:${pageInfo.navigatepageNums}">
                                        <a th:href="'/worker/searchWorkerForPage?workerName='+${data}+'&pageNum='+${nav}"
                                           th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                        <span style="font-weight: bold;background: #6faed9;"
                                              th:if="${nav == pageInfo.pageNum}" th:text="${nav}"></span>
                                    </li>

                                    <li class="next" th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/worker/searchWorkerForPage?workerName='+${data}+'&pageNum='+${pageInfo.nextPage}">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                            下一页
                                        </a>
                                    </li>

                                    <li th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/worker/searchWorkerForPage?workerName='+${data}+'&pageNum='+${pageInfo.pages}">尾页</a>
                                    </li>
                                </ul>

                                <ul th:case="'countWorkerNoSendWater'" class="pagination pull-right no-margin">
                                    <li th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/worker/countWorkerNoSendWater?pageNum=1'">首页</a>
                                    </li>

                                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/worker/countWorkerNoSendWater?pageNum='+${pageInfo.prePage}">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                            上一页
                                        </a>
                                    </li>
                                    <!--遍历条数-->
                                    <li th:each="nav:${pageInfo.navigatepageNums}">
                                        <a th:href="'/worker/countWorkerNoSendWater?pageNum='+${nav}" th:text="${nav}"
                                           th:if="${nav != pageInfo.pageNum}"></a>
                                        <span style="font-weight: bold;background: #6faed9;"
                                              th:if="${nav == pageInfo.pageNum}" th:text="${nav}"></span>
                                    </li>

                                    <li class="next" th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/worker/countWorkerNoSendWater?pageNum='+${pageInfo.nextPage}">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                            下一页
                                        </a>
                                    </li>

                                    <li th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/worker/countWorkerNoSendWater?pageNum='+${pageInfo.pages}">尾页</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </body>
</html>